language: python
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install requests
  - pip install bs4
  - pip install firebase-admin
# command to run tests
script: pytest Threading-time.py